<!-- <h3>Top Heroes</h3>
<div class="grid grid-pad">
  <a *ngFor="let hero of heroes" class="col-1-4"
      routerLink="/detail/{{hero.id}}">
    <div class="module hero">
      <h4>{{hero.name}}</h4>
    </div>
  </a>
</div>

<app-hero-search></app-hero-search> -->


<main>
  <div class="hero_home version_1">
    <div class="content">
      <h3>Find a Doctor!</h3>
      <p>
        Find the perfect doctor to fit your needs
      </p>
      <form >
        <div id="custom-search-input">
          <div class="input-group">
            <input
            #searchQ
            name="searchString"
            [(ngModel)]="searchString"
              type="text"
              class="searchInput"
              placeholder="Ex. Area, Specialization .."
            />
            <input (click)="search()" type="submit" class="btn_search" value="Search" />
          </div>
        </div>
      </form>
    </div>
  </div>
  
  <!-- /white_bg -->

  <div class="container margin_120_95">
    <div class="main_title">
      <h2>Find your doctor</h2>
      <p>
        Browse by area or specialization
      </p>
    </div>
    <div class="row justify-content-center">
      <div class="col-xl-4 col-lg-5 col-md-6">
        <div class="list_home">
          <div class="list_title">
            <i class="icon_pin_alt"></i>
            <h3>Search by your Area</h3>
          </div>
          <ul>
            <li>
              <a href="#0"><strong>23</strong>Johar Town</a>
            </li>
            <li>
              <a href="#0"><strong>23</strong>Faisal Town</a>
            </li>
            <li>
              <a href="#0"><strong>23</strong>Model Town</a>
            </li>
            <li>
              <a href="#0"><strong>23</strong>Gulberg</a>
            </li>
            <li>
              <a href="#0"><strong>23</strong>Wapda Town</a>
            </li>
            <li>
              <a href="#0"><strong>23</strong>Iqbal Town</a>
            </li>
            <li><a href="#0">More...</a></li>
          </ul>
        </div>
      </div>
      <div class="col-xl-4 col-lg-5 col-md-6">
        <div class="list_home">
          <div class="list_title">
            <i class="icon_archive_alt"></i>
            <h3>Search by type</h3>
          </div>
          <ul>
            <li>
              <a href="#0"><strong>23</strong>Allergist</a>
            </li>
            <li>
              <a href="#0"><strong>23</strong>Cardiologist</a>
            </li>
            <li>
              <a href="#0"><strong>23</strong>Chiropractor</a>
            </li>
            <li>
              <a href="#0"><strong>23</strong>Dentist</a>
            </li>
            <li>
              <a href="#0"><strong>23</strong>Dermatologist</a>
            </li>
            <li>
              <a href="#0"><strong>23</strong>Gastroenterologist</a>
            </li>
            <li><a href="#0">More....</a></li>
          </ul>
        </div>
      </div>
    </div>
    <!-- /row -->
  </div>
  <!-- /container -->

  <div id="app_section">
    <div class="container">
      <div class="row justify-content-around">
        <div class="col-md-5">
          <p>
            <img
              src="img/app_img.svg"
              alt=""
              class="img-fluid"
              width="500"
              height="433"
            />
          </p>
        </div>
        <div class="col-md-6">
          <small>Application</small>
          <h3>Download <strong>WeCare</strong> Now!</h3>
          <p class="lead">
            We provide you the list of all possible doctors in your area. Install our application and remain updated. 
          </p>
          <div class="app_buttons wow" data-wow-offset="100">
            <svg
              version="1.1"
              xmlns="http://www.w3.org/2000/svg"
              xmlns:xlink="http://www.w3.org/1999/xlink"
              x="0px"
              y="0px"
              viewBox="0 0 43.1 85.9"
              style="enable-background:new 0 0 43.1 85.9;"
              xml:space="preserve"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                class="st0 draw-arrow"
                d="M11.3,2.5c-5.8,5-8.7,12.7-9,20.3s2,15.1,5.3,22c6.7,14,18,25.8,31.7,33.1"
              />
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                class="draw-arrow tail-1"
                d="M40.6,78.1C39,71.3,37.2,64.6,35.2,58"
              />
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                class="draw-arrow tail-2"
                d="M39.8,78.5c-7.2,1.7-14.3,3.3-21.5,4.9"
              />
            </svg>
            <a href="#0" class="fadeIn"
              ><img
                src="img/apple_app.png"
                alt=""
                width="150"
                height="50"
                data-retina="true"
            /></a>
            <a href="#0" class="fadeIn"
              ><img
                src="img/google_play_app.png"
                alt=""
                width="150"
                height="50"
                data-retina="true"
            /></a>
          </div>
        </div>
      </div>
      <!-- /row -->
    </div>
    <!-- /container -->
  </div>
  <!-- /app_section -->
</main>
